/*--| Banners
-------------------------------------------------------------------------- |--*/

.banners-side-container {
  float: left;
  width: 300px;
  height: auto;
  min-height: 20px;
  overflow: hidden;
}

.banners-wide-container {
  width: 980px;
  height: auto;
  min-height: 20px;
  overflow: hidden;
  margin: 0px auto 0px auto;
}